@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #F9941D;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    min-width: 320px;
    max-width: 6144px;

    position: fixed;
    top: 0;  
    width: 100%;
}

body {
    margin-top: 100px;
    background-color: #f7f5ee;
    font-family: "Poppins";
    min-width: 320px;
    max-width: 6144px;
}

#tellos-logo {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin: 5px;
}

nav {
    display: flex;
    text-align: right;

} 

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
}

nav a{
    padding: 5px;
    text-decoration: none;
    color: #f0efef;
    border-radius: 5px 0 5px 0;
}

nav a:hover{
    padding: 5px;
    background-color: rgb(240, 240, 240);
    color: #151515;
    border-radius: 0 5px 0 5px;
    transition: 0.7s;
}

/* main */

main {
    min-width: 320px;
    max-width: 2560px;
}

h1 {
    color: #F9941D;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container-lado {
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 320px;
    max-height: 2560px;
}

.container-lado p {
    border-radius: 0 15px 0 15px;
    padding: 10px;
    color: #fff;
    width: 400px;
    background-color: rgb(45, 45, 45);
}

#textmissao {
    border-radius: 15px 0 0 15px;
}

#textvisao {
    border-radius: 0 15px 15px 0;
    height: 330px;
}

#h2-val {
    margin: 10px;
    color: #e4e4e4;
    text-align: center;

}

.container-regular {
    padding-top: 15px;
    margin: 10px;
    text-align: justify;
    justify-content: center;
    background-color: #c67518;
    border-radius: 15px;
}

.container-regular p{
    margin: 15px;
}


.main-imgs {
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    height: auto;
}

.conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

footer {
    background-color: #F9941D;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    min-width: 320px;
    max-width: 6144px;
    width: 100%;
    position: absolute;
    bottom: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}